streamlit==1.30.0
pandas==2.2.0
numpy==1.26.4
matplotlib==3.8.2
scipy==1.11.4
mplcursors==0.5.2
plotly==5.18.0
reportlab==4.0.6
kaleido==0.2.1
fpdf==1.7.2
Pillow==10.2.0
seaborn==0.13.2
python-bidi==0.4.2
arabic-reshaper==3.0.0
